<div class="text-center">
    <h1 class="display-4">Модуль</h1>
    <div class=" wrapper">
        <div class="first_block">
            <p class="choice"></p>
        </div>
       
        <div class="right_block">
            <p class="employee_choice_block">Выбор сотрудника</p>
            <div class="info_block">
                <div class="wrapper">
                    <p class="photo">Место под фото</p>
                    <div class="info_employee">
                        <p class="information"> Информация о сотруднике</p>...
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tasks">
        <div class="head_second_block">
            <div class="wrapper">
                <div class="target">Цель1...</div>
                <p class="begunoc"></p>
            </div>
            <div class="wrapper">
                <p class="name_block_tasks">Задачи</p>
                <button class="add_plus"></button>
            </div>
        </div>
        <div class="main_2_block">
            <div class="task">
                <p class="name_task">Заказать материалы</p>
                <div class="attracted_employee">Привлеченные сотрудники</div>
                <div class="sub_task">Подзадачи
                </div>
                <div class="discription_sub_task">
                    <div class="wrapper">
                        <div class="info_sub_task">Выбрать поставщика</div>
                        <button class="check_mark"></button>
                    </div>
                </div>
                <div class="procent_complete"></div>
            </div>
        </div>
    </div>

    <div class="plan">
        <div class="head_3_block">
            <div class="wrapper">
                <p class="name_plan_block"></p>
                <button class="add_plus"></button>
            </div>
        </div>
        <div class="main_3b_lock">
            <div class="subject">
                <div class="wrapper">
                    <p class="subject_name">Закупка</p>
                    <div class="subject_text">Обсудить выбор поставщика
                        <button class="check_mark"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="comment">
        <div class="head_4_block">
            <p class="comm_block">Комментарии</p>
        </div>
        <div class="main_4_block">
            <div class="comment_employee"> Комментарий сотрудника
                <p class="photo_employee"></p>
                <button class="add_answer">Добавить ответ</button>
            </div>
            <div class="answer">Ответ</div>
            <div class="add_comment">Написать комментарий</div>
        </div>
    </div>
    <p>Тут типа кнопка выгрузить отчет будет</p>
</div>